<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<!-- Servlet for routing and filtering all requests -->
	<filter>
        <filter-name>requestFilter</filter-name>
        <filter-class>com.intelliq.appengine.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>requestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Servlet for handling chron jobs -->
    <servlet>
        <servlet-name>chron</servlet-name>
        <servlet-class>com.intelliq.appengine.chron.ChronServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chron</servlet-name>
        <url-pattern>/intelliq/chron/*</url-pattern>
    </servlet-mapping>
    
    <!-- Root for the API endpoints -->
    <servlet>
        <servlet-name>api</servlet-name>
        <servlet-class>com.intelliq.appengine.api.ApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>api</servlet-name>
        <url-pattern>/intelliq/api/*</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet for serving and receiving images -->
    <servlet>
        <servlet-name>images</servlet-name>
        <servlet-class>com.intelliq.appengine.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>images</servlet-name>
        <url-pattern>/intelliq/image/*</url-pattern>
    </servlet-mapping>
   
	
	<!-- Landing page servlet -->
	<servlet>
        <servlet-name>de/home</servlet-name>
        <jsp-file>/website/de/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>de/home</servlet-name>
        <url-pattern>/intelliq/de/homeservlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>en/home</servlet-name>
        <jsp-file>/website/en/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>en/home</servlet-name>
        <url-pattern>/intelliq/en/homeservlet/*</url-pattern>
    </servlet-mapping>
    
    <!-- Apps page servlet -->
	<servlet>
        <servlet-name>de/apps</servlet-name>
        <jsp-file>/website/de/apps.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>de/apps</servlet-name>
        <url-pattern>/intelliq/de/appsservlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>en/apps</servlet-name>
        <jsp-file>/website/en/apps.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>en/apps</servlet-name>
        <url-pattern>/intelliq/en/appsservlet/*</url-pattern>
    </servlet-mapping>
    
    <!-- Business page servlet -->
	<servlet>
        <servlet-name>de/business</servlet-name>
        <jsp-file>/website/de/business.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>de/business</servlet-name>
        <url-pattern>/intelliq/de/businessservlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>en/business</servlet-name>
        <jsp-file>/website/en/business.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>en/business</servlet-name>
        <url-pattern>/intelliq/en/businessservlet/*</url-pattern>
    </servlet-mapping>
    
    <!-- Sign In page servlet -->
	<servlet>
        <servlet-name>de/signin</servlet-name>
        <jsp-file>/website/en/signin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>de/signin</servlet-name>
        <url-pattern>/intelliq/de/signinservlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>en/signin</servlet-name>
        <jsp-file>/website/en/signin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>en/signin</servlet-name>
        <url-pattern>/intelliq/en/signinservlet/*</url-pattern>
    </servlet-mapping>
    
    <!-- Manege page servlet -->
	<servlet>
        <servlet-name>de/manage_overview</servlet-name>
        <jsp-file>/website/en/manage_overview.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>de/manage_overview</servlet-name>
        <url-pattern>/intelliq/de/manage/overviewservlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>en/manage_overview</servlet-name>
        <jsp-file>/website/en/manage_overview.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>en/manage_overview</servlet-name>
        <url-pattern>/intelliq/en/manage/overviewservlet/*</url-pattern>
    </servlet-mapping>
    
    <!-- Manege Queue page servlet -->
	<servlet>
        <servlet-name>de/manage_queue</servlet-name>
        <jsp-file>/website/en/manage_queue.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>de/manage_queue</servlet-name>
        <url-pattern>/intelliq/de/manage/queueservlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>en/manage_queue</servlet-name>
        <jsp-file>/website/en/manage_queue.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>en/manage_queue</servlet-name>
        <url-pattern>/intelliq/en/manage/queueservlet/*</url-pattern>
    </servlet-mapping>
    
    <!-- Edit Queue page servlet -->
	<servlet>
        <servlet-name>de/edit_queue</servlet-name>
        <jsp-file>/website/en/edit_queue.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>de/edit_queue</servlet-name>
        <url-pattern>/intelliq/de/edit/queueservlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>en/edit_queue</servlet-name>
        <jsp-file>/website/en/edit_queue.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>en/edit_queue</servlet-name>
        <url-pattern>/intelliq/en/edit/queueservlet/*</url-pattern>
    </servlet-mapping>
    
    <!-- Manege Business page servlet -->
	<servlet>
        <servlet-name>de/manage_business</servlet-name>
        <jsp-file>/website/en/manage_business.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>de/manage_business</servlet-name>
        <url-pattern>/intelliq/de/manage/businessservlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>en/manage_business</servlet-name>
        <jsp-file>/website/en/manage_business.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>en/manage_business</servlet-name>
        <url-pattern>/intelliq/en/manage/businessservlet/*</url-pattern>
    </servlet-mapping>
    
    <!-- Edit Business page servlet -->
	<servlet>
        <servlet-name>de/edit_business</servlet-name>
        <jsp-file>/website/en/edit_business.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>de/edit_business</servlet-name>
        <url-pattern>/intelliq/de/edit/businessservlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>en/edit_business</servlet-name>
        <jsp-file>/website/en/edit_business.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>en/edit_business</servlet-name>
        <url-pattern>/intelliq/en/edit/businessservlet/*</url-pattern>
    </servlet-mapping>
	
	<!-- Display Queue page servlet -->
	<servlet>
        <servlet-name>de/display_queue</servlet-name>
        <jsp-file>/website/en/display_queue.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>de/display_queue</servlet-name>
        <url-pattern>/intelliq/de/display/queueservlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>en/display_queue</servlet-name>
        <jsp-file>/website/en/display_queue.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>en/display_queue</servlet-name>
        <url-pattern>/intelliq/en/display/queueservlet/*</url-pattern>
    </servlet-mapping>
    
    <!-- Root for the website, redirects to available JSPs -->
    <servlet>
		<servlet-name>IntelliQ</servlet-name>
		<servlet-class>com.intelliq.appengine.website.IntelliQServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>IntelliQ</servlet-name>
		<url-pattern>/intelliq/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
    <!-- Enforce SSL -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>everything</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>
